/* Variables */
:root {
--blue: #05a5c8;
--light-grey: #eef0f2;
}


body {margin:0; font-size:16px;}
main {max-width:80%; margin:0 auto;}

@media only screen and (min-width: 2000px) {
body {font-size:1.3em;}
main {max-width:70%;}
}

/* Navigation */
.main-nav {background-color:#213e5e; margin-bottom:4em; padding:0em; color:white;}
.main-nav {display:flex; justify-content:space-between; padding-left: 1em; padding-right:1em;}

.main-nav ::placeholder {color:#9aafc0;}

.main-nav a {padding:.5em; color:white;}
.main-nav a:hover, .main-nav a:focus {color:#1c2733; background-color:#c2d8ea;}

/* Drop Down Navigation */
.main-nav li { position: relative;}
.main-nav ul li ul {visibility: hidden; opacity: 0; display:none; position: absolute;
z-index:99999; border-bottom-left-radius:10px; border-bottom-right-radius:10px;
/* box-shadow: 0px 5px 9px 10px rgba(0,0,0,0.2); */
}

.main-nav ul li ul.rightmenu {right:0;}


.main-nav ul li:hover > ul,
.main-nav ul li:focus-within > ul,
.main-nav ul li ul:hover,
.main-nav ul li ul:focus {visibility: visible; opacity: 1; display: block;
animation: menu-scroll-in 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

@keyframes menu-scroll-in {
0% {transform: scale(0); transform-origin: 0% 0%; opacity: 1;}
100% {transform: scale(1); transform-origin: 0% 0%; opacity: 1;} }

.main-nav ul li:hover {background-color:#172c42;}

.main-nav ul li ul li {width: 100%; box-sizing: border-box; border-bottom:1px dashed #57789d; background:#213e5e;}
.main-nav ul li ul li:last-of-type {border-bottom:none; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
.main-nav ul li ul li a {text-indent:.5em; white-space: nowrap; padding-right:.5em; }

.main-nav ul li ul li:last-of-type:hover {background:none !important;}
.main-nav ul li ul li:last-of-type:hover, .main-nav ul li ul li:last-of-type a:hover {border-bottom-left-radius:10px; border-bottom-right-radius:10px;}

/* Bugfix for Textintend Right */
.main-nav ul li ul li a:after {content: "\0000a0";  letter-spacing: 0.5em;}

.main-nav ul li ul li.hightlight {background-color: #315984;}

.main-logo {width:80px; position:absolute; left:48.5%; top:1%;}
.main-logo:hover {animation: wobble 0.7s both;}

@media only screen and (max-width: 1400px) {
	.main-logo {width:50px;}
	.main-nav {font-size:0.8em;}
	.main-nav a {padding:.25em;}
	.main-nav a:hover {padding:.25em;}
	.login-icon svg {width:10px;}
}

@media only screen and (max-width: 960px) {.main-logo {display:none;} }


.compare-logo-li {}
.compare-logo {background:url('/styles/img/compare-logo-white.svg') no-repeat; background-size:100%; display:inline-block; width:90px; height:18px; position: relative; top: 6px;}
.compare-logo-li:hover .compare-logo {background:url('/styles/img/compare-logo-black.svg') no-repeat; background-size:100%;}

.login-icon svg {max-height:15px; position:relative; top:2px;}
.login-icon:hover #loginHeadIcon {fill: #333333}

.sub-nav {display:flex; justify-content:space-between; width:90%; margin:0 auto;}
.sub-nav {margin-bottom:2em;}
.sub-nav a {color: #333}



.searchbox {position:relative; margin-bottom:0;}
.searchbox input { background-color: #365679; color: white; width:150px; transition: width .3s;
border: none; padding: 4px 30px 2px 9px; font-size: 0.9em; box-sizing: border-box;
}

.searchbox input:focus {background-color:#466b95; border:1px solid #89a2bd; width:260px; transition: width .1s}
.searchbox button { position:absolute; right:6px; top:1px; height:100%; opacity:0.4;
background-color:transparent; background-position: center; background-size:80%; background-image: url('/styles/flundr/img/icon-search-white.svg');
background-repeat: no-repeat; transition: opacity 0.4s
}

.searchbox button:focus, .searchbox button:hover {background-color:transparent !important}
.searchbox:focus-within button {opacity:1; transition: opacity 0.1s}

/* End Navigation */

/* elements */
a.plain {text-decoration:none; color:inherit;}

.long-link {font-size:0.8em; display:flex; max-width:600px;}

@media only screen and (max-width: 1200px) {.long-link {max-width:200px;} }


.long-link div {max-width: 90%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.external-icon {margin-left:0.3em; width:40px;}

/* Forms */

.form-edit-link {display:block; padding:1em; background:var(--light-grey); }
.form-2-cols {display:flex; justify-content:space-between; align-items:flex-start; align-content:center; gap:1em;}
.form-2-cols label {width:100%;}

.form-edit-link select {background-color:white;}

tr th.text-left {text-align:left;}
tr th.text-right {text-align:right;}
tr th.text-center {text-align:center;}

.display-hits {font-size:6em; text-align:right; margin-bottom:0.7em;}
.display-hits-img {width:100px;}
.display-hits-text {display:inline-block; font-size:0.4em; /*transform: rotate(-90deg);*/  margin-right:0.1em;}

table th {cursor:pointer;}
table th.dir-u {background-image: linear-gradient(to top, #4c739d 0%, #3b618c 82%, #d1d7dd 82%, #80b3ea 100%);}
table th.dir-d {background-image: linear-gradient(#4c739d 0%, #3b618c 82%, #d1d7dd 82%, #80b3ea 100%) !important;}

.icon-delete {opacity:0.2; position:relative;top:4px; cursor:pointer; width:20px;}
.icon-delete:hover {opacity:0.4;}
.icon-edit {opacity:0.2; position:relative;top:2px; width:23px;}

.edit-layout {display:grid; grid-template-columns: 3fr 1fr 1fr; grid-gap:2em; align-items: center; justify-content: space-between;}

.page-footer {font-size:0.8em; margin-bottom:2em; margin-top:.5em;}

b {font-family: var(--font-highlight)}

.edit-info-box {font-size:0.7em; display:flex; gap:0.8em; justify-content:end;}
.edit-info-box-content {background-color:var(--light-grey); border-radius:0.3em; padding:0em 0.6em;}
.edit-info-box-content:nth-child(2) {background-color:#e9f2fb;}

.page-footer {margin-bottom:2em;}


/* Pager */
ul.pager {display: flex;
flex-wrap: wrap;
flex-direction: row;
/* justify-content: space-around; */
align-items: center;
align-content: flex-start;
margin-top:40px;
margin-bottom:40px;
list-style-type: none;
padding:0;
}

ul.pager li {flex: 0 0 auto;}

ul.pager li:first-of-type {margin-left:0px; flex: 0.5 0 auto; text-align:right;}
ul.pager li:last-of-type {margin-right:0px; flex: 0.5 0 auto; text-align:left;}

ul.pager li a, a.archiv {color:white; background:#444; padding:10px 20px; border-radius:3px;
white-space:nowrap; transition: background-color 0.3s; text-decoration:none;
margin:3px; width:13px; text-align:Center; color:white; display:inline-block}

ul.pager li a:hover, a.archiv:hover {background:#213e5e; transition: background-color 0s}

/*ul.pager li a.active {background:#2fcc8f; color:white;}*/
ul.pager li a.active {background:#d4d4d4;; color:#696969;}
ul.pager li a.disabled {background:#ececec; color:#b1b1b1;}
